*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    /* border: 1px solid red; */
}
/* The Header Part with the Fidelis Logo */
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header img{
    height: 80px;
}
/* Section One */
.sectionone{
    background-image: url("images/image1.jpg");
    background-position: bottom bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.sectionone p{
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
    padding-top: 120px;
    margin-left: 15%;
    margin-right: 56.5%;
    z-index: 100;
}
/* Enroll Button */
.enroll{
    background-color: #0072ba;
    font-size: 18px;
    color: #ffffff;
    border: none;
    margin-left: 15%;
    margin-top: 1em;
    padding: 10px 120px;
}

/* Section Two */
.sectiontwo{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    height: 360px;
}
.s2left{
    width: 50%;
}
.s2left img{
    height: 360px;
    width: 100%;
}
.s2right{
    width: 50%;
}
.s2right h2{
    font-size: 18px;
    line-height: 24px;
    color: #1e1944;
    margin: 40px 44% 0 11%;
}

.s2right p{
    font-size: 16px;
    line-height: 20px;
    color: #656b72;
    margin: 2% 42% 0 11%;
}

/* HOW IT WORKS BUTTON */
.how{
    background-color: #40b062;
    font-size: 16px;
    border: none;
    color: #ffffff;
    margin-top: 2%;
    margin-left: 11%;
    padding: 1.7% 15%;
}

/* Section Three */
.sectionthree{
    display:flex;
    flex-direction: row;
    height: 360px;
}
.s3left{
    width: 50vw;
}
.s3left h2{
    font-size: 18px;
    line-height: 24px;
    color: #1e1944;
    margin: 40px 20% 0 33%;
}
.s3left p{
    font-size: 16px;
    line-height: 20px;
    color: #656b72;
    margin: 10px 20% 0 33%;
}
/* Learn More Button */
.learn {
    background-color: #22b1da;
    font-size: 16px;
    color: #ffffff;
    border: none;
    margin-top: 2%;
    margin-left: 33%;
    padding: 1.7% 17%;
}
.s3right{
    width: 50%;
}
.s3right img{
    height: 360px;
    width: 100%;
}

/* The Footer */
.bottom{
    background-color: #121921;
    height: 17vh;
}
.bottom p {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

/* When Shrink to 1000px Width */
@media only screen and (max-width: 1000px){
    /* Section One */
    .sectionone{
        height: 300px;
    }
    .sectionone p{
        font-size: 20px;
        line-height: 25px;
        padding-top: 100px;
    }
    .enroll{

        font-size: 14px;
        border: none;
        margin-left: 15%;
        margin-top: 1em;
        padding: 10px 85px;
    }
    /* Section Two */
    .sectiontwo{
        height: 330px;
    }
    .s2left img{
        height: 330px;
    }
    .s2right h2{
        font-size: 16px;
        line-height: 20px;
        margin: 30px 40% 0 11%;
    }
    
    .s2right p{
        font-size: 14px;
        line-height: 18px;
        color: #656b72;
        margin: 2% 38% 0 11%;
    }
    
    /* HOW IT WORKS BUTTON */
    .how{
        font-size: 14px;
        border: none;
        padding: 1.7% 13%;
    }
    /* Section Three */
    .sectionthree{
        height: 330px;
    }
    .s3left h2{
        font-size: 16px;
        line-height: 20px;
        margin: 25px 20% 0 25%;
    }
    .s3left p{
        font-size: 14px;
        line-height: 18px;
        color: #656b72;
        margin: 5px 20% 0 25%;
    }
    /* Learn More Button */
    .learn {
        font-size: 14px;
        margin-top: 1%;
        margin-left: 25%;
        padding: 1.7% 15%;
    }
    .s3right img{
        height: 330px;
    }

}

/* When Shrink to 750px Width */
@media only screen and (max-width: 750px){
    /* Section One */
    .sectionone{
        height: 280px;
    }
    .sectionone p{
        font-size: 18px;
        line-height: 23px;
        padding-top: 80px;
    }
    .enroll{

        font-size: 14px;
        border: none;
        margin-left: 15%;
        margin-top: 1em;
        padding: 10px 60px;
    }
    /* Section Two */
    .sectiontwo{
        height: 300px;
    }
    .s2left img{
        height: 300px;
    }
    .s2right h2{
        font-size: 14px;
        line-height: 16px;
        margin: 30px 25% 0 11%;
    }
    
    .s2right p{
        font-size: 12px;
        line-height: 16px;
        color: #656b72;
        margin: 2% 25% 0 11%;
    }
    /* HOW IT WORKS BUTTON */
    .how{
        font-size: 12px;
        border: none;
        padding: 1.7% 13%;
    }

    /* Section Three */
    .sectionthree{
        height: 300px;
    }
    .s3left h2{
        font-size: 14px;
        line-height: 18px;
        margin: 25px 15% 0 10%;
    }
    .s3left p{
        font-size: 12px;
        line-height: 16px;
        margin: 5px 15% 0 10%;
    }
    /* Learn More Button */
    .learn {
        font-size: 14px;
        margin-top: 1%;
        margin-left: 10%;
        padding: 1.7% 25%;
    }
    .s3right img{
        height: 300px;
    }

}

/* When it shrink to 600 */
@media only screen and (max-width: 600px){
    /* Section One */
    .sectionone p{
        font-size: 18px;
        line-height: 23px;
        padding-top: 80px;
        margin-left: 25%;
        margin-right: 20%;
    }
    .enroll{
        font-size: 14px;
        border: none;
        margin-left: 25%;
        margin-top: 1em;
        padding: 10px 60px;
    }
    /* Section Two */
    .sectiontwo{
        display: flex;
        flex-direction: column;
    }
    .s2left{
        width: 100%;
    }
    .s2left img{
        height: 300px;
    }
    .s2right{
        width: 100%;
    }
    .s2right h2{
        font-size: 14px;
        line-height: 16px;
        margin: 30px 20% 0 11%;
    }
    
    .s2right p{
        font-size: 12px;
        line-height: 16px;
        color: #656b72;
        margin: 2% 20% 0 11%;
    }
    /* HOW IT WORKS BUTTON */
    .how{
        font-size: 12px;
        border: none;
        padding: 1.7% 20%;
    }

    /* Section Three */
    .sectionthree{
        flex-direction: column-reverse; 
        margin-top: 70%;
}
    .s3left{
        width: 100%;
    }
    .s3left h2{
        font-size: 14px;
        line-height: 18px;
        margin: 30px 20% 0 11%;
    }
    .s3left p{
        font-size: 12px;
        line-height: 16px;
        margin: 2% 20% 0 11%;
    }
    /* Learn More Button */
    .learn {
        font-size: 14px;
        margin-top: 1%;
        margin-left: 10%;
        margin-bottom: 5%;
        padding: 1.7% 20%;
    }
    .s3right{
        width: 100%;
    }
    .s3right img{
        height: 300px;
    }

}
/* When it shrink to 600 */
@media only screen and (max-width: 600px){
    .sectionthree{
        flex-direction: column-reverse; 
        margin-top: 85%;
}
}